:root {
    /* Colors */
    /* Theme 2 */
    --main-bg: hsl(268, 75%, 9%); /* main background */
    --toggle-bg: hsl(268, 71%, 12%); /* toggle background, keypad background */
    --screen-bg: hsl(268, 71%, 12%); /* screen background */

    --key-bg: hsl(281, 89%, 26%); /* key background */
    --key-shadow: hsl(285, 91%, 52%); /* key shadow */
    --key-hover: hsl(285, 91%, 70%);
    --btn-equal-color: hsl(176, 100%, 44%); /* equal key background and toggle */
    --btn-equal-hover-color: hsl(176, 100%, 50%);
    --btn-equal-shadow-color: hsl(177, 92%, 70%); /* key shadow */
    --keys-number-bg: hsl(268, 47%, 21%); /* key background */
    --keys-number-shadow: hsl(290, 70%, 36%); /* key shadow */

    --keys-number-color: hsl(52, 100%, 62%);
    --white-color: hsl(0, 0%, 100%);
    --btn-equal-text-color: hsl(198, 20%, 13%);
    --display-text-color: hsl(52, 100%, 62%);
}

body {
    background-color: var(--main-bg);
}

.custom-radio::after {
    background-color: var(--btn-equal-color);
}

.title__bar--rbbox {
    background-color: var(--toggle-bg);
}

.title-bar__title--calc,
.title-bar__theme--theme,
.theme--options--number{
    color: var(--keys-number-color);
}

.display__content--theme {
    background-color: var(--screen-bg);
    color: var(--display-text-color);
}

.calculator-grid--theme {
    background-color: var(--toggle-bg);
}

.calculator-grid__button--number {
    background-color: var(--keys-number-bg);
}

.calculator-grid__button {
    cursor: pointer;
    box-shadow: 0 .2rem var(--keys-number-shadow);
    color: var(--keys-number-color);
}

.calculator-grid__button--del,
.calculator-grid__button--reset{
    background-color: var(--key-bg);
    color: var(--white-color);
    box-shadow: 0 .2rem var(--key-shadow);
    
}

.calculator-grid__button--equal {
    color: var(--btn-equal-text-color);
    background-color: var(--btn-equal-color);
    box-shadow: 0 .2rem var(--btn-equal-shadow-color);
}

/* STATES */
.calculator-grid__button--del:hover,
.calculator-grid__button--reset:hover {
    background-color:var(--key-hover);
    transition: 0.2s;
}

.calculator-grid__button--equal:hover {
    background-color:var(--btn-equal-hover-color);
    transition: 0.2s;
}

.calculator-grid__button--number:hover {
    background-color:var(--key-hover);
    transition: 0.2s;
}


